<body style="background-color: #e0e5ef;">
	<section class="page-title bg-about mt-20">
		<div class="container">
			<div class="row mt-4">
				<div class="col-md-12">
					<div class="block text-center">
						<h1 class="text-capitalize mb-5 text-lg">What We Do</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6  d-flex">
					<div class="service-about mb-5">
						<div class="img-fluid">
							<%= image_tag "about1.png" %>
						</div>
						<h4 class="mt-4 mb-2 title-color">Organized to assist</h4>
						<p class="mb-4">We're giving our best to remotly monitor each patient indivisual case.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6  d-flex">
					<div class="service-about mb-5">
						<div class="img-fluid">
							<%= image_tag "about2.png" %>
						</div>
						<h4 class="mt-4 mb-2 title-color">Actively Diagnosing</h4>
						<p class="mb-4">We're adapting and advancing our products, algorthims and technologies to help address the sevirety of the symptoms.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6  d-flex">
					<div class="service-about mb-5">
						<div class="img-fluid">
							<%= image_tag "about3.png" %>
						</div>
						<h4 class="mt-4 mb-2 title-color">Creating connections</h4>
						<p class="mb-4">We're leveraging our platforms to connect care teams and help care systems communicate with patients as efficiently as possible.</p>
					</div>
				</div>
				<div class="row d-flex justify-content-center">
					<div class=" col-lg-4 col-md-6 col-sm-6  d-flex">
						<div class="service-about mb-5">
							<div class="img-fluid">
								<%= image_tag "about4.png" %>
							</div>
							<h4 class="mt-4 mb-2 title-color">Trustfull platform</h4>
							<p class="mb-4">We at Estebana make sure to keep the confident and honesty that's given to us by answering patient's wonders and providing them with latest studies and statistics.</p>
						</div>
					</div>
				</div>
				
			</div>

		</div>
	</section>